$white:#FFFFFF;
$parrot-green: #01D167;
$dark-blue: #0C365A;
$navy-blue: #325BAF;
$black: #222222;
$sky-blue: #23CEFD;
$light-green: #EDFFF5;
$slight-white: #FCFCFC;
$light-sky: #EDF3FF;
$light-blue:#F5F9FF;
$light-gray: #F5F5F5